@font-face {
    font-family: "komikax";
    src: url("font/KOMIKAX_.ttf");
  }

  body{
    margin: 0;
    background-color: black;
  }

  header{
    padding: 2em 0;
  }

  label{
    color: #fff;
    padding-bottom: 1em;
  }

  h1, .subTitle{
    font-family: "komikax", serif;
    text-align: center;       
  }
  
  h1{
    font-size: 4em;
    text-transform: uppercase;
    color: ghostwhite;
  }

  .subTitle{
    font-style: italic;
    color:crimson;
  }

  .col-sm-12{
    margin-bottom: 1.5em;
  }

  .card-body {
    background-color: crimson;
  }
  .card-body h2 {
    text-align: center;
  }


  /* Affichage des détails d'un SH */
  .wrapper{
    border: 1px solid white;
  }
  .wrapper img {
    display: block;
    width: 100%;
    margin: 0 auto;
  }



  .wrapperBody p {
    color: white;
    margin: 1em 0;
    text-align: center;
    text-transform: uppercase;
  }

  .wrapperBody ul{
    list-style-type: none;
    padding: 0;
    color: white;
  }

  @media screen and (min-width: 768px) {
    .wrapper {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      width: 80%;
      margin: 0 auto;
      border: 0;
    }
    .wrapper img{
      margin: 0;
      width: 50%;
      flex-grow: 1;
    }

    .wrapperBody{
      width: 50%;
    }

    .wrapperBody ul{
      margin-left: 2em;
    }
    .modal-body {
      display:flex;
      flex-direction: row;
    }
    .heroStats {
      margin: 1em;
    }
  }


  #loader {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  